#Imports

In [32]:
#Imports
import pandas as pd
import numpy as np
import re

#Raw Data Cleaning (6 Datasets)

In [33]:
'''
Project: Bangkit Capstone Project
Group: B21-CAP0194
Part: Data Cleaning
'''

'\nProject: Bangkit Capstone Project\nGroup: B21-CAP0194\nPart: Data Cleaning\n'

In [34]:
#Import First Dataset
url_one = 'https://drive.google.com/file/d/1lTvQke_pO35JgAj1Bzj5ULsA_gno94DQ/view?usp=sharing'
file_id_one = url_one.split('/')[-2]
csv_url_one = 'https://drive.google.com/uc?id=' + file_id_one
df_one = pd.read_csv(csv_url_one)
df_one.head()

   index  ...                                               text
0      1  ...  b\'"The ironies of the #MeToo movement are too...
1      2  ...  RT @WomenReadWomen: Women in Kuwait have launc...
2      3  ...  RT @j_andreamolina: \\xe2\\x9a\\xa0\\xef\\xb8\...
3      4  ...  RT @SammiStitches: Charges brought against the...
4      5  ...  b"And the fourth presenter on 26th May is Hann...

[5 rows x 4 columns]

In [35]:
#Import Second Dataset
url_two = 'https://drive.google.com/file/d/1xMEtidbapgBLs82ijoJvk0FsoPlL76yG/view?usp=sharing'
file_id_two = url_two.split('/')[-2]
csv_url_two = 'https://drive.google.com/uc?id=' + file_id_two
df_two = pd.read_csv(csv_url_two)
df_two.head()

   index  ...                                               text
0      1  ...  b\'RT @ThatUmbrella: Advocates of #metoo shoul...
1      2  ...  Boo another report while casualties pile up! Y...
2      3  ...  b"RT @MsAmyMacPherson: 1/9 There\'s a SUPER HU...
3      4  ...  b"RT @RaquelDancho: Important to note: if the ...
4      5  ...  RT @Aspasia_1: Basically .@MetOpera could have...

[5 rows x 4 columns]

In [36]:
#Import Third Dataset
url_three = 'https://drive.google.com/file/d/1vNVBMchza3792vB16pGQwzHf65eJYlOB/view?usp=sharing'
file_id_three = url_three.split('/')[-2]
csv_url_three = 'https://drive.google.com/uc?id=' + file_id_three
df_three = pd.read_csv(csv_url_three)
df_three.head()

   index  ...                                               text
0      1  ...  RT @BombshellDAILY: REPUBLICAN BRUTALLY RAPES ...
1      2  ...  b"Anthony Kiedis mocked those fighting Bin Lad...
2      3  ...  RT @edrormba: Palestinian-American brings #MeT...
3      4  ...  RT @bette_oh: And, just like that, the #MeToo ...
4      5  ...  This guy was in #MeToo right?? https://t.co/zZ...

[5 rows x 4 columns]

In [37]:
#Import Fourth Dataset
url_four = 'https://drive.google.com/file/d/1vb98LLK4QPEzb5_jB0q19O1xU6WF3vgh/view?usp=sharing'
file_id_four = url_four.split('/')[-2]
csv_url_four = 'https://drive.google.com/uc?id=' + file_id_four
df_four = pd.read_csv(csv_url_four)
df_four.head()

   index  ...                                               text
0      1  ...  RT @SVPAOfficial: As the movement continues to...
1      2  ...  Sound like #SameGirl cuz #MeToo nigga \\xf0\\x...
2      3  ...  RT @mommamia1217: B\\xf0\\x9f\\x94\\xa5\\xf0\\...
3      4  ...  RT @mommamia1217: B\\xf0\\x9f\\x94\\xa5\\xf0\\...
4      5  ...  RT @mommamia1217: B\\xf0\\x9f\\x94\\xa5\\xf0\\...

[5 rows x 4 columns]

In [38]:
#Import Fifth Dataset
url_five = 'https://drive.google.com/file/d/1HpNQ-YktcMS1lckdHJKyAGIoChWjaxhX/view?usp=sharing'
file_id_five = url_five.split('/')[-2]
csv_url_five = 'https://drive.google.com/uc?id=' + file_id_five
df_five = pd.read_csv(csv_url_five)
df_five.head()

   index  ...                                               text
0      1  ...  RT @gbrockell: I first contacted Barbara in De...
1      2  ...  RT @ShefVaidya: This is Vinod Dua for you, the...
2      3  ...  RT @ShefVaidya: This is Vinod Dua for you, the...
3      4  ...  5.2 million Americans are living with #PTSD. \...
4      5  ...  b"RT @ghazalimohammad: First MLA Pargat Singh ...

[5 rows x 4 columns]

In [39]:
#Import Sixth Dataset
url_six = 'https://drive.google.com/file/d/16zIaxx9ua0hThr23x4N_cNhUymgsPBqC/view?usp=sharing'
file_id_six = url_six.split('/')[-2]
csv_url_six = 'https://drive.google.com/uc?id=' + file_id_six
df_six = pd.read_csv(csv_url_six)
df_six.head()

   index  ...                                               text
0      1  ...  b"8:43 PM a while ago  I went to this store ne...
1      2  ...  @theserfstv Ross bought $DOGE early and thinks...
2      3  ...  John 1 Reading of Final Verses + Emergency Pra...
3      4  ...  b"RT @Terrn1981: @jackappleby @Girlguiding Opp...
4      5  ...  John 1 Reading of Final Verses + Emergency Pra...

[5 rows x 4 columns]

In [40]:
#Combine All Dataset
df = pd.concat([df_one, df_two, df_three, df_four, df_five, df_six])

In [41]:
df.head()

   index  ...                                               text
0      1  ...  b\'"The ironies of the #MeToo movement are too...
1      2  ...  RT @WomenReadWomen: Women in Kuwait have launc...
2      3  ...  RT @j_andreamolina: \\xe2\\x9a\\xa0\\xef\\xb8\...
3      4  ...  RT @SammiStitches: Charges brought against the...
4      5  ...  b"And the fourth presenter on 26th May is Hann...

[5 rows x 4 columns]

In [42]:
df.shape

(46550, 4)

In [43]:
#Drop Columns
df = df.drop(columns=['index', 'user_id', 'timestamp'])
df

                                                   text
0     b\'"The ironies of the #MeToo movement are too...
1     RT @WomenReadWomen: Women in Kuwait have launc...
2     RT @j_andreamolina: \\xe2\\x9a\\xa0\\xef\\xb8\...
3     RT @SammiStitches: Charges brought against the...
4     b"And the fourth presenter on 26th May is Hann...
...                                                 ...
8595  b"Author releases debut novel inspired by Wore...
8596  b"Pop world braces for a wave of #MeToo cases ...
8597  RT @Khushi4justice: Who paid Rajeev Masand  to...
8598  RT @AliaGvR: 15. So when you think of Arab/Afr...
8599  RT @mauracunningham: At the @NewYorker, Han Zh...

[46550 rows x 1 columns]

In [44]:
#Safe Clean (Cleaning the new line command before it get removed by the next regex)
df['text'] =  [re.sub(r"\\n", " ", str(j)) for j in df['text']]

#Cleaning the 'b', Retweet, Unicode (\\x08\,\\xef\,etc), Mentions, Hashtags, Links, and '&amp'.
df['text'] =  [re.sub(r"^b|RT|\\\\x[\w][\w]|\@[\w\_]*|\#[\w]*|http\S+|\&amp", " ", str(j)) for j in df['text']]

#Clean other non-alphabetic character
df['text'] =  [re.sub(r"[^a-zA-Z ]+", " ", str(j)) for j in df['text']]

#Clean extra space in the beginning, middle, and last of the sentence
df['text'] = df['text'].apply(lambda x: x.strip()).apply(lambda x: " ".join(x.split()))

#Adding space after slash
df['text'] =  [re.sub(r"\/", " ", str(j)) for j in df['text']]
df.head()

                                                text
0  The ironies of the movement are too painfully ...
1  Women in Kuwait have launched a social media c...
2  Triger Warning Raising Awareness of Sexual Ass...
3  Charges brought against the guy that smacked m...
4  And the fourth presenter on th May is Hannah B...

In [45]:
#Transform the text into lowercase
df['text'] = df['text'].str.lower()

In [46]:
#Drop any duplicate row
df = df.drop_duplicates()

In [47]:
#Fill up the empty cells
df['text'].replace('', np.nan, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [48]:
#Drop empty cells
df.dropna(subset=['text'], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
#Create Index
df['index'] = range(0, len(df.index), 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
#Save DataFrame to CSV
df_cleaned = pd.DataFrame()
df_cleaned['index'] = df['index']
df_cleaned['text'] = df['text']
df_cleaned.to_csv("capstonetweetcleaned.csv", index=False)

#Additional Data Cleaning (Post Data)

In [51]:
'''
Project: Bangkit Capstone Project
Group: B21-CAP0194
Part: Additional Post Data - Data Cleaning
'''

'\nProject: Bangkit Capstone Project\nGroup: B21-CAP0194\nPart: Additional Post Data - Data Cleaning\n'

In [52]:
#Import Additional Post Dataset
url_one = 'https://drive.google.com/file/d/19TrifGssrQn9AtTbW-AtBOMJgN65nCll/view?usp=sharing'
file_id_one = url_one.split('/')[-2]
csv_url_one = 'https://drive.google.com/uc?id=' + file_id_one
df = pd.read_csv(csv_url_one, encoding = "ISO-8859-1")
df.head()

                                                text  label
0  Schwartz and Southern also constructed four se...  Siber
1  If you think Internet flirting andÿcybersexÿar...  Siber
2  If a relationship were strong in the first pla...  Siber
3  Then, of course, there'sÿcybersex, which mostl...  Siber
4  She says that it is a daily occurrence to be i...  Siber

In [53]:
df.head()

                                                text  label
0  Schwartz and Southern also constructed four se...  Siber
1  If you think Internet flirting andÿcybersexÿar...  Siber
2  If a relationship were strong in the first pla...  Siber
3  Then, of course, there'sÿcybersex, which mostl...  Siber
4  She says that it is a daily occurrence to be i...  Siber

In [54]:
df.shape

(1347, 2)

In [55]:
#Safe Clean (Cleaning the new line command before it get removed by the next regex)
df['text'] =  [re.sub(r"\\n", " ", str(j)) for j in df['text']]

#Cleaning the 'b', Retweet, Unicode (\\x08\,\\xef\,etc), Mentions, Hashtags, Links, and '&amp'.
df['text'] =  [re.sub(r"^b|RT|\\\\x[\w][\w]|\@[\w\_]*|\#[\w]*|http\S+|\&amp", " ", str(j)) for j in df['text']]

#Clean other non-alphabetic character
df['text'] =  [re.sub(r"[^a-zA-Z ]+", " ", str(j)) for j in df['text']]

#Clean extra space in the beginning, middle, and last of the sentence
df['text'] = df['text'].apply(lambda x: x.strip()).apply(lambda x: " ".join(x.split()))

#Adding space after slash
df['text'] =  [re.sub(r"\/", " ", str(j)) for j in df['text']]
df.head()

                                                text  label
0  Schwartz and Southern also constructed four se...  Siber
1  If you think Internet flirting and cybersex ar...  Siber
2  If a relationship were strong in the first pla...  Siber
3  Then of course there s cybersex which mostly c...  Siber
4  She says that it is a daily occurrence to be i...  Siber

In [56]:
#Transform the text into lowercase
df['text'] = df['text'].str.lower()

In [57]:
#Drop any duplicate row
df = df.drop_duplicates()

In [58]:
#Fill up the empty cells
df['text'].replace('', np.nan, inplace=True)

In [59]:
#Drop empty cells
df.dropna(subset=['text'], inplace=True)

In [60]:
#Create Index
df['index'] = range(0, len(df.index), 1)

In [61]:
#Save DataFrame to CSV
df_cleaned = pd.DataFrame()
df_cleaned['index'] = df['index']
df_cleaned['text'] = df['text']
df_cleaned['label'] = df['label']
df_cleaned.to_csv("capstoneaddposttweetcleaned.csv", index=False, encoding='utf-8')

#Additional Data Cleaning (Laporan Data)

In [62]:
'''
Project: Bangkit Capstone Project
Group: B21-CAP0194
Part: Additional Laporan Data - Data Cleaning
'''

'\nProject: Bangkit Capstone Project\nGroup: B21-CAP0194\nPart: Additional Laporan Data - Data Cleaning\n'

In [63]:
#Import Additional Laporan Dataset
url_one = 'https://drive.google.com/file/d/1NUCUCuKaL0CYq2gdNueUq2BrN4cU7NeJ/view?usp=sharing'
file_id_one = url_one.split('/')[-2]
csv_url_one = 'https://drive.google.com/uc?id=' + file_id_one
df = pd.read_csv(csv_url_one, encoding = "ISO-8859-1")
df.head()

                                                text             label
0  Some people have become so dependent onÿpsychi...  Kekerasan Psikis
1  Franzen has always been fond of putting his ch...  Kekerasan Psikis
2        guilt and shame add to theirÿpsychicÿstate;  Kekerasan Psikis
3  It?s aÿpsychicÿspace in which you feel at once...  Kekerasan Psikis
4  Some were trampled in the rush and others surv...  Kekerasan Psikis

In [64]:
df.head()

                                                text             label
0  Some people have become so dependent onÿpsychi...  Kekerasan Psikis
1  Franzen has always been fond of putting his ch...  Kekerasan Psikis
2        guilt and shame add to theirÿpsychicÿstate;  Kekerasan Psikis
3  It?s aÿpsychicÿspace in which you feel at once...  Kekerasan Psikis
4  Some were trampled in the rush and others surv...  Kekerasan Psikis

In [65]:
df.shape

(970, 2)

In [66]:
#Safe Clean (Cleaning the new line command before it get removed by the next regex)
df['text'] =  [re.sub(r"\\n", " ", str(j)) for j in df['text']]

#Cleaning the 'b', Retweet, Unicode (\\x08\,\\xef\,etc), Mentions, Hashtags, Links, and '&amp'.
df['text'] =  [re.sub(r"^b|RT|\\\\x[\w][\w]|\@[\w\_]*|\#[\w]*|http\S+|\&amp", " ", str(j)) for j in df['text']]

#Clean other non-alphabetic character
df['text'] =  [re.sub(r"[^a-zA-Z ]+", " ", str(j)) for j in df['text']]

#Clean extra space in the beginning, middle, and last of the sentence
df['text'] = df['text'].apply(lambda x: x.strip()).apply(lambda x: " ".join(x.split()))

#Adding space after slash
df['text'] =  [re.sub(r"\/", " ", str(j)) for j in df['text']]
df.head()

                                                text             label
0  Some people have become so dependent on psychi...  Kekerasan Psikis
1  Franzen has always been fond of putting his ch...  Kekerasan Psikis
2         guilt and shame add to their psychic state  Kekerasan Psikis
3  It s a psychic space in which you feel at once...  Kekerasan Psikis
4  Some were trampled in the rush and others surv...  Kekerasan Psikis

In [67]:
#Transform the text into lowercase
df['text'] = df['text'].str.lower()

In [68]:
#Drop any duplicate row
df = df.drop_duplicates()

In [69]:
#Fill up the empty cells
df['text'].replace('', np.nan, inplace=True)

In [70]:
#Drop empty cells
df.dropna(subset=['text'], inplace=True)

In [71]:
#Create Index
df['index'] = range(0, len(df.index), 1)

In [72]:
#Save DataFrame to CSV
df_cleaned = pd.DataFrame()
df_cleaned['index'] = df['index']
df_cleaned['text'] = df['text']
df_cleaned['label'] = df['label']
df_cleaned.to_csv("capstoneaddlaporantweetcleaned.csv", index=False, encoding='utf-8')