In [ ]:
'''
Project: Bangkit Capstone Project
Group: B21-CAP0194
Part: Data Cleaning
'''

'\nFeature: NLP Classifier (Feature 1)\nStep: Data Cleaning (A1)\nVersion: 1.1.4\nTeam: CAP-0194\nChange:\n1.1.2:\nAdding Regex for new line removal (1st RegEx Layer),\nrearranging hashtag link and unicode filter (2rd RegEx Layer),\nrearranging punctuation filter (3rd RegEx Layer)\nand adding space after slash (4th RegEx Layer)\n\n1.1.3:\nTransform the texts into lowercase\n\n1.1.4:\n'

In [2]:
#Imports
import pandas as pd
import numpy as np
import re

In [9]:
#Import First Dataset
url_one = 'https://drive.google.com/file/d/1lTvQke_pO35JgAj1Bzj5ULsA_gno94DQ/view?usp=sharing'
file_id_one = url_one.split('/')[-2]
csv_url_one = 'https://drive.google.com/uc?id=' + file_id_one
df_one = pd.read_csv(csv_url_one)
df_one.head()

   index  ...                                               text
0      1  ...  b\'"The ironies of the #MeToo movement are too...
1      2  ...  RT @WomenReadWomen: Women in Kuwait have launc...
2      3  ...  RT @j_andreamolina: \\xe2\\x9a\\xa0\\xef\\xb8\...
3      4  ...  RT @SammiStitches: Charges brought against the...
4      5  ...  b"And the fourth presenter on 26th May is Hann...

[5 rows x 4 columns]

In [10]:
#Import Second Dataset
url_two = 'https://drive.google.com/file/d/1xMEtidbapgBLs82ijoJvk0FsoPlL76yG/view?usp=sharing'
file_id_two = url_two.split('/')[-2]
csv_url_two = 'https://drive.google.com/uc?id=' + file_id_two
df_two = pd.read_csv(csv_url_two)
df_two.head()

   index  ...                                               text
0      1  ...  b\'RT @ThatUmbrella: Advocates of #metoo shoul...
1      2  ...  Boo another report while casualties pile up! Y...
2      3  ...  b"RT @MsAmyMacPherson: 1/9 There\'s a SUPER HU...
3      4  ...  b"RT @RaquelDancho: Important to note: if the ...
4      5  ...  RT @Aspasia_1: Basically .@MetOpera could have...

[5 rows x 4 columns]

In [12]:
#Import Third Dataset
url_three = 'https://drive.google.com/file/d/1vNVBMchza3792vB16pGQwzHf65eJYlOB/view?usp=sharing'
file_id_three = url_three.split('/')[-2]
csv_url_three = 'https://drive.google.com/uc?id=' + file_id_three
df_three = pd.read_csv(csv_url_three)
df_three.head()

   index  ...                                               text
0      1  ...  RT @BombshellDAILY: REPUBLICAN BRUTALLY RAPES ...
1      2  ...  b"Anthony Kiedis mocked those fighting Bin Lad...
2      3  ...  RT @edrormba: Palestinian-American brings #MeT...
3      4  ...  RT @bette_oh: And, just like that, the #MeToo ...
4      5  ...  This guy was in #MeToo right?? https://t.co/zZ...

[5 rows x 4 columns]

In [13]:
#Combine All Dataset
df = pd.concat([df_one, df_two, df_three])

In [14]:
df.head()

   index  ...                                               text
0      1  ...  b\'"The ironies of the #MeToo movement are too...
1      2  ...  RT @WomenReadWomen: Women in Kuwait have launc...
2      3  ...  RT @j_andreamolina: \\xe2\\x9a\\xa0\\xef\\xb8\...
3      4  ...  RT @SammiStitches: Charges brought against the...
4      5  ...  b"And the fourth presenter on 26th May is Hann...

[5 rows x 4 columns]

In [15]:
df.shape

(22600, 4)

In [ ]:
#Drop Columns
df = df.drop(columns=['index', 'user_id', 'timestamp'])
df

                                                   text
0     b\'"The ironies of the #MeToo movement are too...
1     RT @WomenReadWomen: Women in Kuwait have launc...
2     RT @j_andreamolina: \\xe2\\x9a\\xa0\\xef\\xb8\...
3     RT @SammiStitches: Charges brought against the...
4     b"And the fourth presenter on 26th May is Hann...
...                                                 ...
7095  RT @brianlilley: In QP today, \\xe2\\x81\\xa6@...
7096  RT @shades_dirty: Stop police sexual violence ...
7097  RT @GretchenCarlson: I\\xe2\\x80\\x99ll speak ...
7098  RT @brianlilley: In QP today, \\xe2\\x81\\xa6@...
7099  RT @SenatorHousakos: In fairness, he also didn...

[22600 rows x 1 columns]

In [ ]:
#Safe Clean (Cleaning the new line command before it get removed by the next regex)
df['text'] =  [re.sub(r"\\n", " ", str(j)) for j in df['text']]

#Cleaning the 'b', Retweet, Mentions, Unicode (\x08\,\xef\,etc), and puctuation marks.
df['text'] =  [re.sub(r"^b|http\S+|[0-9]\/[0-9]|\'|\"|\:|\;|\.|\,|RT|\\\\x[\w][\w]|\@[\w\_]*|\#[\w]*|\\", 
                           "", str(j)) for j in df['text']]

#Cleaning the blank space at the start of the sentences after the 1st cleaning process, hashtag and other punctuation that remains
df['text'] =  [re.sub(r"^\s*|\=|\-|\#[\w]*\s?|[a-z]*\#[\w]*\s?|[\(\)\|\!\$\?\*]*|\&amp", "", str(j)) for j in df['text']]

#Adding space after slash
df['text'] =  [re.sub(r"\/", " ", str(j)) for j in df['text']]
df.head()

                                                text
0  The ironies of the  movement are too painfully...
1  Women in Kuwait have launched a social media c...
2  Triger Warning Raising Awareness of Sexual Ass...
3  Charges brought against the guy that smacked m...
4  And the fourth presenter on 26th May is Hannah...

In [ ]:
df['text'] = df['text'].str.lower()

In [ ]:
#Drop any duplicate row
df = df.drop_duplicates()

In [ ]:
#Fill up the empty cells
df['text'].replace('', np.nan, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
#Drop empty cells
df.dropna(subset=['text'], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Create Index
df['index'] = range(0, len(df.index), 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Save DataFrame to CSV
df_check = pd.DataFrame()
df_check['index'] = df['index']
df_check['text'] = df['text']
df_check.to_csv("capstonetweetcleaned.csv", index=False)